@use '../../styles/vars';

.title-others {
    margin-bottom: 2rem;

    &-text {
        width: 1000px;
        margin: auto;
        color: grey;
        font-size: 5rem;
        font-weight: lighter;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
    }

    &-section {
        padding-top: 5rem;
        margin: auto;
        width: 300px;
        font-weight: lighter;
        border-bottom: 2px solid black;
    }
}

.mentions {
    display: flex;
    flex-direction: column;
    margin-top: vars.$gutter * 2;
    align-items: center;
    
    &-content {
        // height: 300px;
        // width: 450px;
        font-family: "TimesSansSerif", sans-serif;
        width: 30%;
        height: auto;
        padding: 0 vars.$gutter;
        margin: vars.$gutter * 0.75;
        text-align: justify;
        font-size: 1.15rem;
        line-height: 1.5;
         
        &-h2 {
            font-family: "TimesSansSerif", sans-serif;
            padding-bottom: 2rem;
        }

        &-span-bold {
            font-weight: bold;
        }
    }

}

.ui.text.container.mentions-resume {
    font-family: "TimesSansSerif", sans-serif;
 
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.5;
}

.first-paragraph {
    margin-bottom: 3rem;
}

.last-paragraph {
    margin-top: 3rem;
}