.ui.container.grid.post-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content {
    margin-top: 2em;
    margin-bottom: 2em;
}