.form-container {
    width: 30%;
    margin: auto;
    margin-bottom: 8rem;
}

.contact-section {
    margin: 5rem auto;
    width: 300px;
    font-weight: lighter;
    border-bottom: 2px solid black;
}

.textarea {
   resize:none;
}