@use '../../styles/vars';

.title-others {
    margin-bottom: 2rem;

    &-text {
        width: 1000px;
        margin: auto;
        color: grey;
        font-size: 5rem;
        font-weight: lighter;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
    }

    &-section {
        padding-top: 5rem;
        margin: auto;
        width: 300px;
        font-weight: lighter;
        border-bottom: 2px solid black;
    }
}

.about {
    display: flex;
    margin-top: vars.$gutter * 2;
    justify-content: center;
    
    &-picture {
        width: 220px;
        height: 300px;
        object-fit: cover;
        margin: vars.$gutter * 0.75;
    }
    
    &-resume {
        // height: 300px;
        // width: 450px;
        font-family: "TimesSansSerif", sans-serif;
        width: 30%;
        height: auto;
        padding: 0 vars.$gutter;
        margin: vars.$gutter * 0.75;
        text-align: justify;
        font-size: 1.15rem;
        line-height: 1.5;

        &-h2 {
            font-family: "TimesSansSerif", sans-serif;
            padding-bottom: 2rem;
        }
        /*         display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; */
        /* padding: vars.$gutter * 1.5;
        padding-bottom: 0; */

        &-span-bold {
            font-weight: bold;
        }

        &-button {
            width: fit-content;
        }
    }
}