@use '../../styles/vars';

.title-others {
    
    &-text {
        width: 1000px;
        margin: auto;
        color: grey;
        font-size: 5rem;
        font-weight: lighter;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
    }

    &-section {
        padding-top: 5rem;
        margin: auto;
        width: 300px;
        font-weight: lighter;
        border-bottom: 2px solid black;
    }
}

.about {
    display: flex;
    margin-top: vars.$gutter * 2;
    justify-content: center;
    
    &-picture {
        width: 220px;
        height: 300px;
        object-fit: cover;
        margin: vars.$gutter * 0.75;
    }

    &-resume {
        // height: 300px;
        // width: 450px;
        width: 30%;
        height: auto;
        padding: vars.$gutter;
        margin: vars.$gutter * 0.75;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.5;

        /*         display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; */
        /* padding: vars.$gutter * 1.5;
        padding-bottom: 0; */

        &-button {
            width: fit-content;
        }
    }
}