.title-text {
        width: 1200px;
        margin: auto;
        color: grey;
        font-size: 7rem;
        font-weight: lighter;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
}