.ui.card.card-post {
    margin: 0 20px;
    height: 100%;
}

.ui.cards.card-group-container {
    flex-wrap: nowrap;
}

.ui.image.post-article-image {
    height: 50%;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    & img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.content.post-card-content {
    height: 50%;
}