@use '../../styles/vars';

.summary {
    display: flex;
    margin-top: vars.$gutter * 2;
    justify-content: center;
    
    &-picture {
        width: 440px;
        height: 560px;
        object-fit: cover;
        margin: vars.$gutter * 0.75;
    }

    &-resume {
        // height: 300px;
        // width: 450px;
        width: 441px;
        height: 560px;
        padding: vars.$gutter;
        margin: vars.$gutter * 0.75;
        background-color: vars.$background-color1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        &-text {
            font-size: 2rem;
            line-height: 1.5;
            text-align: center;
            padding: vars.$gutter * 1.5;
            padding-bottom: 0;
        }

        &-button {
            width: fit-content;
        }
    }
}