.main-container {

}

.blog-navbar {
    
}

.ui.container.grid.posts-container {
    margin-top: 2em;
    min-height: 60vh;
}

.ui.card.posts-container-post {
    margin-top: 2em;
    margin-bottom: 2em;
}