.main-container {
    margin-bottom: 4em;
}

.blog-navbar {
    height: 150px;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    & span {
        cursor:pointer;
    }
}

.blog-post-link {
    margin: 2em 0;
}

.ui.container.grid.posts-container {
    margin-top: 2em;
    min-height: 60vh;
}

.posts-categories {
    text-transform: uppercase;
    margin: 0 0.5rem;
    color: rgba(0,0,0,.6);

    &:hover {
        color:black;
    }

}

.active {
    color: black;
}